<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Fonz-Crud</title>
</head>
<body ng-app="DemoCrud">

    <div ng-controller="DemoController as vm">
        <table>
            <tr ng-repeat="car in vm.car track by $index">
                <td>Car Make: {{car.Make}}</td>
                <td>Car Model: {{car.Model}}</td>
                <td>Car Year: {{car.Year}}</td>
                <td>Car Color: {{car.Color}}</td>
                <td><button class="btn btn-primary" ng-click="vm.btnModify($index)">Modify</button></td>
                <td><button class="btn btn-danger" ng-click="vm.btnDelete($index)" >Delete</button></td>
            </tr>
        </table>
        <div>
            <div>
                <label>Current Car</label>
            </div>
            <div>
                <input type="text" value="{{vm.currentCar.Make}}"  />
            </div>
            <div>
                <input type="text" ng-model="vm.currentCar.Model" />
            </div>
            <div>
                <input type="text" value="{{vm.currentCar.Year}}" />
            </div>
            <div>
                <input type="text" value="{{vm.currentCar.Color}}" />
            </div>
            <button type="button" class="btn btn-primary" ng-click="vm.btnUpdate()">Update</button>
            <button type="button" class="btn btn-danger" ng-click="vm.btnCreate()">Create</button>
        </div>


    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script>
        (function () {
            angular.module('DemoCrud', []);
        })();
        (function () {
            'use strict';

            angular.module('DemoCrud')
                .controller('DemoController', DemoController);
            DemoController.$inject = ['$http', '$scope'];
            function DemoController($http, $scope) {
                var vm = this;
                // Items placeholder
                vm.items = null;
                vm.items = [];
                // Buttons
                vm.btnModify = _btnModify;
                vm.btnDelete = _btnDelete;
                vm.btnUpdate = _btnUpdate;
                vm.btnCreate = _btnCreate;

                $http({
                    url: '/api/cars/getall',
                    method: 'GET'

                })
                    .then(_success, _error);
                //====== Button =======//

                //~~~Modify
                function _btnModify(index) {
                    console.log("btn Modify");
                    vm.currentCar = Object.assign({}, vm.items[index]);
                }

                //~~~Delete 
                function _btnDelete(index) {
                    console.log("Delete");
                    var data = vm.items[index];
                    console.log(data.Id);
                    $http({
                        url: '/api/cars/delete',
                        method: 'DELETE'
                    })
                        .then(_success, _error);

                }
                //~~~Submit
                function _btnUpdate() {
                    console.log(vm.currentCar);
                    $http({
                        url: '/api/cars/create',
                        method: 'POST'
                    })
                        .then(_postSuccess, _postError);
                }
                //~~~Create
                function _btnCreate() {
                    console.log(vm.currentCar);
                    $http({
                        url: '/api/cars/create',
                        method: 'PUT'
                    })
                        .then(_postSuccess, _postError);
                }
                // ++++ Success ++++
                // get
                function _success(response) {
                    console.log(response);
                    console.log("success response");
                    vm.car = response.data;
                    vm.items = response.data;
                }
                // Post 
                function _postSuccess(response) {
                    console.log(response.data);
                    conosole.log(" POST success");
                }
                // ++++ Error ++++
                // get
                function _error(error) {
                    console.error(error)
                }
                // POST - Error
                function _postError(error) {
                    console.log(error)
                }
            }
        })();
    </script>
</body>
</html>